.cont {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  gap: 20px;
  padding: 15px;
}
.product {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  gap: 15px;
  justify-content: space-around;
}

.quantity {
  display: flex;
}
.quantBtn {
  border: 1px solid black;
  border-radius: 15px;
  height: 26px;
  width: 26px;
  align-self: center;
  background-color: white;
}

.quantBtn:hover {
  cursor: pointer;
}
.quant {
  padding: 2px 8px 1px 8px;
  border: 1px solid black;
  margin: 0px 6px 0px 6px;
  align-self: center;
  width: 20px;
}
.remove {
  background-color: red;
  padding: 8px 13px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  border: none;
}
.remove:hover {
  cursor: pointer;
}
