.cont {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  margin-bottom: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: white;
  background: black;
  padding: 10px;
}
.footer img {
  width: 25px;
  filter: invert(1);
}

.footer a {
  align-self: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 100vh;
  font-size: 1.5rem;
}
